<template name="importDb">
  <!-- <form class="well form-inline">
   <label class="control-label" for="fileInput2">Elejir Archivo *.csv</label>
   <input class="input-file" id="fileInput2" type="file" name="files[]">
   <Button class="btn btn-primary" id="read_boletos">Importar</button>
   <button class="btn btn-danger" id="erase_boletos">Borrar Base de Datos</button>
  </form> -->
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Import Tickets QR CSV to Database (Won't Work on Demo)</h3>
    </div>
    <div class="panel-body">
      <label class="control-label" for="fileInput2">Choose File *.csv</label>
      <input class="input-file" id="fileInput2" type="file" name="files[]">
      <Button class="btn btn-success" id="read_boletosRM">Import</button>
      <button class="btn btn-danger" id="erase_boletosRM">Delete Tickets</button>
    </div>
</div>
<!--<div class="panel panel-primary">
  <div class="panel-heading">
      <h3 class="panel-title">Importar Boletos Fiesta de Color CSV a Base de Datos</h3>
  </div>
  <div class="panel-body">
    <label class="control-label" for="fileInput3">Elejir Archivo *.csv</label>
    <input class="input-file" id="fileInput3" type="file" name="files[]">
    <Button class="btn btn-success" id="boletosFC">Importar</button>
    <button class="btn btn-danger" id="erase_boletos">Borrar Colección de Tickets</button>
  </div>
</div>!-->
</template>
